/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --brand-color: #2e2f42;
  --color-iris: #4d5ae5;
  --color-cloud: #f4f4fd;
  --color-ocean: #404bbf;
  --color-cornflower: #e7e9fc;
  --color-slate: #434455;
  --color-white: #ffffff;
  --main-font-style: Roboto;
  --second-font-style: Raleway;
}
*,
*::before,
*::after
{
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
  width: 1440px;
  box-sizing: border-box;
  text-decoration: none;
}
li {
  display: inline-block;
}
a:hover {
  color: var(--color-iris);
  cursor: pointer;
}
h1,
h2,
h3
{
height: 0;
}
.logo-top {
  margin-left: 156px;
}
.logo-web {
  color: var(--color-iris);
  font-size: 18px;
  font-style: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  width: 44px;
  height: 21px;
}
.logo-studio {
  color: var(--brand-color);
  font-size: 18px;
  font-style: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 71px;
  height: 21px;
}
.menu-link-position {
  position: relative;
  left: 76px;
}
.menu-link {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-right: 40px;
  height: 24px;

}
.contacts-position {
  position: absolute;
  top: 24px;
  left: 940px;
  }
  .contacts {
    color: var(--color-slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-right: 40px;
    height: 24px;
  }
  
.page-title {
  color: var(--color-white);
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  margin: 0px;
  position: relative;
  top: 188px;
  text-align: center;
}
.button-index-position
{
position: relative;
top: 356px;
left: 636px;
}
.button-index {
  color: var(--color-white);
  background: var(--color-iris); 
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
button-index:hover
{
  background-color: var(--color-cloud);
  color: var(--color-iris);
  cursor: pointer;
}
.sub-title-and-description-position {  
  position: absolute;
  left: 156px;
  top: 792px;

}
.sub-title {
  color: var(--brand-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  height: 24px;
  width: 264px;
  margin-bottom: 8px;
}
.description {
  color: var(--color-slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  height: 72px;
  width: 264px;
}
.title-what-are-we-doing {
  color: var(--brand-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  width: 323px;
  height: 40px;
  position: relative;
  left: 559px;
  top: 344px;
  white-space: nowrap;
}
.images-what-are-we-doing-position
{
 display: inline-flex;
 position: relative;
 top: 232px;
 right: 156px;
}
.images-what-are-we-doing {
  width: 360px;
  height: 300px;
  position: relative;
  top: 232px;
}
.title-our-team
{
  color: var(--brand-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  position: relative;
  left: 639px;
  top: 120px;
}
.team-card-position
{
  position: relative;
  top: 232px;
  display: flex;
  gap: 24px;
  
}
.team-card {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 
}
.team-img {
  width: 264px;
  height: 260px;
}
.team-description-box {
  display: flex;
  width: 232px;
  flex-direction: column;
  padding-top: 32px;
}
.team-names {
  color: var(--brand-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.job-title {
  color: var(--color-slate);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-bottom: 32px;
}
.logo-footer{
position: relative;
left: 156px;
top: 101.5px;
}

.footer-logo-web {
  color:var(--color-iris);
  font-style: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  width: 44px;
  height: 21px;

}
.footer-logo-studio {
  color: var(--color-cloud);
  font-style: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  width: 71px;
  height: 21px;
}
.footer-text {
  color: var(--color-cloud);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
  position: relative;
  left: 41px;
  top: 140px;

}
.conteiner-header {
  height: 72px;
  border-bottom: 1px solid var(--color-cornflower);
  background: var(--color-white);
  display: flex;
  align-items: center;

}
.conteiner-2-index {
  height: 600px;
  background: var(--brand-color);
}
.conteiner-3-index {
  height: 876px;
  background: var(--color-white);
  display: flex;
}
.conteiner-4-index {
  height: 732px;
  background: var(--color-cloud);
  display: flex;
}
.conteiner-footer {
  height: 312px;
  background: var(--brand-color);
  display: flex;
}
.button-position-portfolio
{
  display: flex;
  position: relative;
  top: 96px;
  left: 427px;
  right: 156;
  gap: 24px;
}
.button-portfolio
{
  color: var(--color-iris);
  background: var(--color-cornflower);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  align-items: flex-start;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--color-cornflower);
}
.button-portfolio:hover
{
  color: var(--color-white);
  background: var(--color-ocean);
  cursor: pointer;
}
.img-position-portfolio
{
width: 1440px;
position: absolute;
top: 288px;
left: 156px;
}
.img-portfolio
{
  width: 360px;
  height: 300px;
}
.img-title-description-box-portfolio
{
display: flex;
flex-direction: column;
margin-right: 24px;
margin-bottom: 48px;
}
.portfolio-img-title
{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: var(--brand-color);
  padding-left: 16px;
}
.portfolio-img-description
{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 16px;
}
.title-description-box-portfolio
{
padding-top: 32px;
padding-bottom: 32px;
border: 1px solid #E7E9FC
}
.conteiner-2-portfolio
{
height: 1692px;
width: 1440px;
background: var(--color-white);
display: flex;
}

