:root {
  --brand-color: #2e2f42;
  --color-iris: #4d5ae5;
  --color-cloud: #f4f4fd;
  --color-ocean: #404bbf;
  --color-cornflower: #e7e9fc;
  --color-slate: #434455;
  --color-white: #ffffff;
  --main-font-style: Roboto;
  --second-font-style: Raleway;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
  text-decoration: none;
  width: 1440px;
  height: 2592px;
}
.logo-top {
  position: relative;
  left: 156px;
  top: 25.5px;
  right: 1169px;
  bottom: 25.5px;
}
.logo-web {
  color: var(--color-iris);
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 44px;
  height: 21px;
}
.logo-studio {
  color: var(--brand-color);
  font-size: 18px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 71px;
  height: 21px;
}
.menu-links {
}
.menu-link {
  color: var(--brand-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-right: 40px;
}
.contacts-position {
  position: absolute;
  top: 24px;
  left: 940px;
  display: inline;
}
.contacts {
  color: var(--color-slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.page-title {
  color: var(--color-white);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  margin: 0px;
  position: relative;
  left: 472px;
  top: 188px;
  right: 472px;
  bottom: 292px;
}
.order-service-btn-text {
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background: var(--color-iris);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 636px;
  top: 256px;
  right: 635px;
  bottom: 188px;
  position: relative;
  border-top: 4px;
  border-left: 4px;
}
.feature {
}
.sub-title {
  color: var(--brand-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.describtion {
  color: var(--color-slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.title-for-img {
  color: var(--brand-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.images {
  width: 360px;
  height: 300px;
  border: 1pc solid var(--color-cornflower);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.team-card {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--color-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-img {
  width: 264px;
  height: 260px;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.team-describtion-box {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.team-names {
  color: var(--brand-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.job-title {
  color: var(--color-slate);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer-logo {
  width: 264px;
  height: 72px;
  margin-top: 2420px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 156px;
}

.footer-logo-web {
  color: var(--color-iris);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  width: 44px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
}
.footer-logo-studio {
  color: var(--color-cloud);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
}
.footer-text {
  color: var(--color-cloud);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
}
.conteiner-1 {
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-cornflower);
  background: var(--color-white);
}
.conteiner-2 {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: var(--brand-color);
  margin-left: auto;
  margin-right: auto;
}
.conteiner-3 {
  width: 1440px;
  height: 2592px;
  background: var(--color-white);
}
.conteiner-4 {
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
  background: var(--color-cloud);
}
.conteiner-5 {
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  background: var(--brand-color);
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--color-iris);
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}

